
/* RESET CSS */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;  

}

img {
  width: 100%;
}
 
body {
  background-color:orange ;
}

/* Quando clickar no icone, alterar o fundo e aparecer duas imagens abrindo*/

div.show #bis-love img {
  display: none;
  opacity: 0;

}

div.show .inner {
  display: none;
  opacity: 0;
}

/*Tratamento da img logo*/


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mensagem bonitinhas */
div .text {
  display: none;
}

div.show .text {
  display: inline-block;
}


/* BIS-LOVE */

div#bis-love img{
  transition: width 2s, height 2s;
  cursor: pointer;
}

div#bis-love img:hover{
  width: 315px;
  height: 175px;
}
 
/* BIS ESQUERDO E DIREITO */

#half-left {
  display: none;
}

#half-right {
  display: none;
}

div.show #half-left {
  display: grid;
}
div.show #half-right {
  display: grid;
}


